h1 {
    width: 100px;
    height: 28px;
    margin: 25px 72.5px 20px 0.5px;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1f2a4b;
}

.form-container {
    margin-top: 25px;
}

.check-button-container {
    display: flex !important;
    flex: 1;
    flex-direction: row !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root { 
    margin: auto !important;
}