.form-container {
    margin-top: 25px;
}

.check-button-container {
    display: flex !important;
    flex: 1;
    flex-direction: row !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root { 
    margin: auto !important;
}