.footer-label {
    width: 42px;
    height: 18px;
    font-family: MarkPro;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(31, 42, 75, 0.59);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-size: 12px !important;
    min-width: 0px !important;
    padding: 6px 0px !important;
}