.footer-label {
    width: 42px;
    height: 18px;
    font-family: MarkPro;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(31, 42, 75, 0.59);
}