.card-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.todo-card {
    width: 440px;
    min-height: 437px;
    padding: 35px 30px;
    border-radius: 5px;
    margin-top: 109px;
}

h1 {
    width: 100px;
    height: 28px;
    margin: 25px 72.5px 20px 0.5px;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1f2a4b;
}

.footer-label {
    width: 42px;
    height: 18px;
    font-family: MarkPro;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(31, 42, 75, 0.59);
}

ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 13px;
    list-style: none;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px 5px 10px;
    
    a {
        width: 42px;
        height: 18px;
        font-family: MarkPro;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a77e5 !important;
        cursor: pointer;
    }
}